################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/Training/v16
/src/.vs/Training
/src/MessageGenerator/obj
/src/Training/Properties/PublishProfiles/mgtrain - Zip Deploy.pubxml
